In [1]:
import pandas as pd
import sqlalchemy

In [2]:
agents_df = pd.read_csv('Resources/agents.csv')
agencies_df = pd.read_csv('Resources/agencies.csv',names=["agency","agencyURL","NULL","NULL2"])
artists_df = pd.read_csv('Resources/artists.csv')
bands_df = pd.read_csv('Resources/bandsintown.csv', thousands=',')

In [3]:
agents_df

,First,Title,Phone Number,Email,Street Address,Street Address 2,City,State,Zip,Agency
0,Rob Light,Worldwide - Head of Music,(424) 288 2000,rlight@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
1,Darryl Eaton,Co-Head of N. America,(424) 288 2000,deaton@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
2,Rick Roskin,Co-Head of N. America,(424) 288 2000,rroskin@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
3,Mitch Rose,Co-Head of N. America,(424) 288 2000,mrose@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
4,Allison McGregor,Exec. - Mktg.,(424) 288 2000,amcgregor@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
...,...,...,...,...,...,...,...,...,...,...
1646,John Lochen,Agent,(763) 999 7700,john@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1647,Hendrik Wipperman,Agent (Europe),#ERROR!,hendrik@eat-music.net,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1648,Rachel Simon,Agent,(763) 999 7700,rachel@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1649,Diane Kinnear,GM,(763) 999 7700,diane@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1650,Jen Chabot,Agent Asst.,(763) 999 7700,jen@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist

In [4]:
agent_nameFrame = agents_df["First"].str.split(expand=True, n=1)

agents_df["firstName"] = agent_nameFrame[0]
agents_df["lastName"] = agent_nameFrame[1]
agents_df.drop(columns=['First'],inplace=True)

In [5]:
agents_df.reset_index(inplace=True)
agents_df = agents_df.rename(columns = {'index':'agentID'})

agent_df = pd.DataFrame({"agentID":agents_df["agentID"],
                         "firstName":agents_df['firstName'],
                         "lastName":agents_df['lastName'],
                         "title":agents_df['Title'],
                         "phone":agents_df["Phone Number"],
                         "email":agents_df["Email"],
                         "address1":agents_df['Street Address'],
                         "address2":agents_df['Street Address 2'],
                         "city":agents_df['City'],
                         "state":agents_df["State"],
                         "zip":agents_df["Zip"],
                         "agency":agents_df["Agency"]})

In [6]:
agent_df

,agentID,firstName,lastName,title,phone,email,address1,address2,city,state,zip,agency
0,0,Rob,Light,Worldwide - Head of Music,(424) 288 2000,rlight@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
1,1,Darryl,Eaton,Co-Head of N. America,(424) 288 2000,deaton@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
2,2,Rick,Roskin,Co-Head of N. America,(424) 288 2000,rroskin@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
3,3,Mitch,Rose,Co-Head of N. America,(424) 288 2000,mrose@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
4,4,Allison,McGregor,Exec. - Mktg.,(424) 288 2000,amcgregor@caa.com,2000 Avenue of the Stars,NaN,Los Angeles,CA,90067,Creative Artists Agency (Music)
...,...,...,...,...,...,...,...,...,...,...,...,...
1646,1646,John,Lochen,Agent,(763) 999 7700,john@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1647,1647,Hendrik,Wipperman,Agent (Europe),#ERROR!,hendrik@eat-music.net,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1648,1648,Rachel,Simon,Agent,(763) 999 7700,rachel@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1649,1649,Diane,Kinnear,GM,(763) 999 7700,diane@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist
1650,1650,Jen,Chabot,Agent Asst.,(763) 999 7700,jen@nstarartists.com,P.O. Box 47393,NaN,Minneapolis,MN,55447,Northstar Artist

In [7]:
agencies_df.drop(columns=["NULL","NULL2"],inplace=True)

In [8]:
agencies_df.reset_index(inplace=True)
agencies_df = agencies_df.rename(columns = {'index':'agencyID'})

agencies_df

,agencyID,agency,agencyURL
0,0,33 and West,https://www.pollstar.com/Company/33-west-10914...
1,1,American Artists,https://www.pollstar.com/Company/american-arti...
2,2,Arrival Artists,https://www.pollstar.com/Company/arrival-artis...
3,3,Atlas Touring,https://www.pollstar.com/Company/atlas-touring...
4,4,Blue Raven Entertainment,https://www.pollstar.com/Company/blue-raven-en...
...,...,...,...
94,94,Swan Entertainment,https://www.pollstar.com/Company/swan-entertai...
95,95,The Empire Agency,https://www.pollstar.com/Company/the-empire-ag...
96,96,The Roots Agency,https://www.pollstar.com/Company/the-roots-age...
97,97,Universal Attractions Agency,https://www.pollstar.com/Company/uaa-universal...
98,98,M.O.B. Agency,https://www.pollstar.com/Company/the-mob-agenc...

In [9]:
artists_df.drop(columns=["Location"],inplace=True)

In [10]:

artists_df.reset_index(inplace=True)
artists_df = artists_df.rename(columns = {'index':'artistID'})

In [11]:
artists_df.rename(columns = {'Artist':'artist',"Avg Tickets":"attendance","Gross Sales":"averageGross","Territory":"territory","Agency":"agency"},inplace=True)

In [12]:
bands_df.drop(columns=["Attendance","Gross"],inplace=True)

In [13]:
bands_df.rename(columns={"Artist":"artist","Bands in Town":"bandsintown"},inplace=True)

In [14]:
# bands_df[['bandsintown']] = bands_df[['bandsintown']].apply(pd.to_numeric)
# bands_df = bands_df.sort_values(by=["bandsintown"],ascending=False)

In [15]:
# bands_df['bandsintown'] = bands_df["bandsintown"].replace('497361.0',0)
# bands_df.sort_values(by=['bandsintown'],ascending=False)

In [18]:
bands_df.sort_values(by=['bandsintown'],ascending=False)

                         artist  bandsintown
11558              Siobhan Bell     497361.0
12213          The Nearly Deads     497361.0
10546                      Off!     497361.0
11686                SOSUPERSAM     497361.0
11140     Rocket From The Crypt     497361.0
...                         ...          ...
179                   Leningrad          NaN
235    Pete Tong Ibiza Classics          NaN
13044                    ZutZut          NaN
13045                       NaN          NaN
13046                     13046          NaN

[13047 rows x 2 columns]

In [22]:
bands_df.replace({497361.0:None,497354:None},inplace=True)

In [23]:
bands_df.sort_values(by=['bandsintown'],ascending=False)

            artist  bandsintown
9            Drake      78872.0
3           Eminem      76068.0
57      Katy Perry      63722.0
136      Lil Wayne      58351.0
10      Bruno Mars      57728.0
...            ...          ...
13036  Zero 7 (DJ)          NaN
13039   Zion Clark          NaN
13044       ZutZut          NaN
13045          NaN          NaN
13046        13046          NaN

[13047 rows x 2 columns]